PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=db_main

JWT_SECRET=jwt-secret
JWT_REFRESH_SECRET=jwt-refresh-secret
JWT_ACCESS_EXPIRES_IN=45m
JWT_REFRESH_EXPIRES_IN=7d

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=uploads
MINIO_REGION=eu-central-1
# CLOUDFRONT_BASE_URL=

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_ORDERS_QUEUE=orders.process
RABBITMQ_DLQ=orders.dlq
MAX_RETRY_ATTEMPTS=3
